<div id="<%= dom_id movement %>">
  <div>
    <strong>Product:</strong>
    <%= movement.product_id %>
  </div>

  <div>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= movement.quantity %>
  </div>

</div>
